* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: #fff;
  background-color: #0b192c;
  scroll-behavior: smooth;
}

/* ________________________________________________________ Navbar _____________________________________________________________________ */

.navbar {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  backdrop-filter: blur(50px);
}
.nav-content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-right: -10rem;
}

.logo {
  width: 12rem;
  height: auto;
  margin-left: 2.5rem;
}

.logo h1 {
  font-size: 32px;
  font-style: italic;
}
.logo h1 span {
  font-size: 20px;
  font-style: italic;
  color: #fb773c;
  font-weight: bold;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.nav-content li {
  margin: 0 1.5rem;
}

.menu-item {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #fb773c, #ff512f, #ffb347);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.resume-btn {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #fb773c 0%, #ff512f 50%, #ffb347 100%);
  padding: 0.6rem 0.5rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resume-btn:hover {
  color: #fff;
  background: transparent;
  outline: 1.5px solid #ff512f;
  transform: scale(1.05);
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background: linear-gradient(90deg, #fb773c 0%, #ff512f 50%, #ffb347 100%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

.menu-btn:hover {
  color: #fff;
  background: #0b192c;
  border: 1px solid #ff512f;
}

/* _______________________________________________ToggleButton___________________________________________ */

.mobile-nav-menu {
  width: 100vw;
  height: 100vh;
  color: white;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 100px;
  z-index: 999 !important;
  opacity: 0;
  box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: translateX(-100vw);
}

.mobile-nav-container {
  width: 60vw;
  height: 100vh;
  background-color: #0b192c;
  padding: 2rem;
}

.mobile-nav-menu.active {
  opacity: 1;
  transform: translateX(0);
}

.mobile-nav-menu h1 {
  margin-bottom: 3rem;
}

.mobile-nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-left: -2rem;
  gap: 2rem;
}

/* _____________________________________Hero ____________________________________ */

.container {
  max-width: 1550px !important;
  margin: 0 auto;
  position: relative;
}

.projects-box {
  padding: 0 1.5rem;
}

.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.hero-container::after,
.hero-container::before {
  content: "";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #3a6d8c;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 1;
  margin-left: 3rem;
}

.hero-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
  margin-top: 6rem;
}

.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 0.8rem;
}

.hero-img > div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.hero-img > div > img {
  width: 25rem;
  height: auto;
  transition: all 0.3s ease;
  margin-top: 6rem;
}

.tech-icon {
  width: 5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
  border: 1.5px solid #0b192c;
}

.tech-icon img {
  width: 3.7rem;
  height: auto;
  transition: all 0.3s ease;
}

.hero-img > div img:hover {
  .tech-icon img:hover {
    transform: translateY(-0.5rem);
  }
}





/* ________________________________________Skills Card_____________________________________ */

.skills-card {
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  padding: 2.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-card:hover,
.skills-card.active {
  background: linear-gradient(180deg, #fb773c 0%, #ff512f 100%);
}
.skills-card span {
  font-size: 1.3rem;
  font-weight: 500;
}
.skill-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b192c;
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.skill-icon img {
  width: 2.4rem;
  height: auto;
  object-fit: contain;
}

/* _______________________________________Skills Section______________________________________________ */

.skills-container {
  margin: 4rem 0;
  position: relative;
}
.skills-container::after,
.skills-container::before {
  content: " ";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #0b192c;
  position: absolute;
  z-index: -1;
  filter: blur(200px);
}
.skills-container::after {
  top: -3rem;
  left: -5rem;
}
.skills-container::before {
  background: #3a6d8c;
  bottom: 0rem;
  right: 0rem;
}

.skills-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
  margin-left: 2rem;
}
.skills-content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-right: 70px;
}
.skills {
  flex: 1;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2rem;
}
.skills-info {
  flex: 1;
}

/* ________________________________________skills Card Info______________________________________________ */

.skills-info-card {
  min-height: 22rem;
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  background: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(1rem);
}
.skills-info-card h6 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background: linear-gradient(180deg, #fb773c 0%, #ff512f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1.5px solid #3a6d8c;
}
.skills-info-content {
  padding: 2rem;
}
.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-info p {
  font-size: 1rem;
  font-weight: 500;
}
.skill-info .percentage {
  color: #ff512f;
}
.skills-progress-bg {
  width: 100%;
  height: 0.5rem;
  background: #3a6d8c;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}
.skill-progress {
  width: 0%;
  height: 0.5rem;
  background: linear-gradient(90deg, #fb773c -50%, #ff512f 50%);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

/* _______________________________________________Experience___________________________________-*/

.exp-container {
  margin: 5rem 2rem;
  position: relative;
}

.exp-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.exp-card {
  background: #0b192c;
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  padding: 1.5rem;
  margin: 0px 2rem;
}
.exp-card h6 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.duration {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
}
.exp-card ul {
  margin-left: 1.6rem;
}
.exp-card ul li {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}
.exp-card ul li::after {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #3a6d8c;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}
.arrow-right,
.arrow-left {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  background: #0b192c;
  margin-right: -1.2rem;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  padding-top: 5px;
}
.arrow-right:hover,
.arrow-left:hover {
  background: linear-gradient(90deg, #fb773c -50%, #ff512f 50%);
  color: #0b192c;
}
.arrow-left span,
.arrow-right span {
  font-size: 2rem;
  font-weight: 500;
}
.arrow-left {
  left: 0;
  margin-left: -1.3rem;
}
.arrow-right {
  right: 0;
}

/* _____________________________________________Projects____________________________________________________________ */

.projects {
  background-color: #0b192c;
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0b192c;
  border: 2px solid #3a6d8c;
  border-radius: 3rem;
  gap: 2rem;
  padding: 2rem 1rem;
  overflow: hidden;
  box-shadow: 0 0 5px #3a6d8c;
  transition: 0.3s ease;
  margin: 0px 0.6rem;
}

.project-card:hover {
  box-shadow: 0 0 25px #3a6d8c;
  box-shadow: 0 0 50px #3a6d8c;
  transform: scale(1.02);
}
.project-heading {
  margin-left: 5.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.project-card img {
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
}

.project-card h3 {
  font-size: 2rem;
}

.project-card p {
  font-size: 0.8rem;
  margin-top: -1rem;
}
.project-btn {
  background-color: #130f2a;
  padding: 0.5rem 1rem;
  border: 2px solid #3a6d8c;
  border-radius: 2rem;
  outline: none;
  font-size: medium;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-clip: padding-box;
}

/* __________________________________________Contact_________________________________________________________ */

.contact-container {
  margin: 4rem 0;
  position: relative;
}

.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 4rem;
}
.contact-content {
  display: flex;
  gap: 3rem;
}
.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #3a6d8c;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}
.contact-detail .contact-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #3a6d8c;
  margin-bottom: 0.5rem;
}
.contact-icon img {
  width: 1.8rem;
  height: auto;
  object-fit: contain;
}
.contact-detail p {
  font-size: 0.9rem;
  font-weight: 400;
}
.contact-form-content {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  margin-right: 30px;
}
.name-container {
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
}
form input,
form textarea {
  flex: 1;
  width: 100%;
  font-size: 0.9rem;
  color: #fff;
  background: #130f2a;
  border-radius: 0.6rem;
  border: 1.5px solid #3a6d8c;
  padding: 1rem;
}
form button {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: 1.5px solid #3a6d8c;
  border-radius: 0.6rem;
  background: linear-gradient(90deg, #ff512f 0%, #fb773c 100%);
  padding: 0.7rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
form button:hover {
  color: #ff512f;
  background: transparent;
}

/* _______________________________________________Footer_________________________________________________________- */

.footer {
  font-size: 0.8rem;
  text-align: center;
  background: linear-gradient(90deg, #fb773c 0%, #ff512f 100%);
  padding: 1rem;
  width: 100%;
}
/* _________________________________________footer bottom side_______________________________________ */
.footer-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 100%;
}
.footer-icon {
  font-size: 1.7rem;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}
.footer-icon:hover {
  color: #ff512f;
  cursor: pointer;
  transform: scale(1.25);
}
.footer {
  width: 100%;
}

/* _________________________________________________Media Qeueries___________________________________________________________ */

@media (max-width: 360px) {
  .menu-btn {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
  .logo {
    margin-left: -1rem;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo span {
    font-size: 0.6rem;
  }
}


@media (max-width: 430px) {


  .hero-content {
    margin-left: 0.3rem;
  }
  
}

@media (max-width: 450px) {
  

  .logo {
    width: 4rem;
    height: auto;
    margin-left: 2rem;
    font-size: 2rem;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo span {
    font-size: 0.6rem;
  }
  .menu-btn {
    width: 3rem;
    height: 2rem;
    font-size: 2.5rem;
  }
  .project-heading {
    margin-left: 7.5rem;
    font-size: 2rem;
  }
  
  .hero-img > div > img {
    margin-right: 2.5rem;
    width: 17rem;
    height: 16rem;
    margin-top: -0.3rem;
  }

  
  .hero-content h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: 2.8rem;
  }

  .hero-content p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 2rem;
  }
  .tech-icon {
    width: 4rem;
    height: 3.5rem;
    margin-left: 1rem;
  }

  .tech-icon img{
    width: 2.5rem;
  }

  .skills-container h5 {
    margin-left: 5.5rem;
    margin-top: -4.5rem;
  }
  

  .skills-info-card {
    margin-left: 2rem;
  }
  .skills-card {
    margin-left: 1.2rem;
  }

  .skills-card span {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1.8rem;
  }
  
  .exp-container h5 {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
  }
  

  .contact-container h5 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-left: rem
  }
  
  .name-container {
    flex-direction: column;
    align-items: flex-start;
  }
  form input,
  form textarea {
    padding: 0.7rem;
    border-radius: 0.3rem;
  }
  form button {
    font-size: 0.9rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
  }
}


@media (min-width: 640px) {

  .skills-container {
    padding: 0;
  }
  .hero-content h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .hero-img {
    gap: 1rem;
  }
  .hero-img > div {
    gap: 1rem;
  }
  .hero-img > div > img {
    width: 20rem;
  }

  .tech-icon {
    width: 3.3rem;
    height: 3.3rem;
  }

  .tech-icon img {
    width: 2rem;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .nav-content ul {
    display: none;
  }
  .menu-btn {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.1rem;
  }
  .nav-content {
    margin-right: 0rem;
  }

  .mobile-nav-menu {
    display: block;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    margin: 2rem 0 2rem 0;
  }

  .hero-container h2 {
    margin-top: 3rem;
  }

  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  .hero-container::after,
  .hero-container::before {
    content: "";
    width: 18rem;
    height: 18rem;
  }

  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }

  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }

  .skills-content {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .skills,
  .skills-info {
    width: 100%;
    margin-left: 0.2rem;
  }
  .skills-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .skills-container::after,
  .skills-container::before {
    width: 18rem;
    height: 18rem;
  }
  .skills-card {
    padding: 2rem 1.6rem;
    margin-top: 0.5rem;
  }

  .projects-box {
    row-gap: 2rem;
  }
  .project-heading {
    margin-left: 7.5rem;
  }

  .contact-content {
    flex-direction: column-reverse;
  }
  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-left: 7.5rem;
  }
  form {
    margin-right: 50px;
    margin-left: 50px;
  }
  .contact-detail {
    margin-right: 4.5rem;
  }
  .contact-details-card {
    margin-right: 5rem;
  }
  .contact-detail p {
    font-size: 11px;
  }

  .footer {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .hero-content h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }

  .hero-img > div > img {
    width: 20rem;
  }

  .tech-icon {
    width: 4rem;
    height: 4rem;
  }

  .tech-icon img {
    width: 2.5rem;
  }

  .skills-card {
    padding: 2rem;
  }
  .skills-card span {
    font-size: 1rem;
  }
  .skill-icon {
    width: 3rem;
    height: 3rem;
  }
  .skill-icon img {
    width: 1.8rem;
  }

  .skills {
    padding-left: 1rem;
  }
  .skills,
  .skills-content {
    grid-gap: 2rem;
  }

  .skills-info-card h6 {
    font-size: 1.1rem;
  }
  .skills-info p {
    font-size: 0.9rem;
  }
  .skills-info-content {
    padding: 1.5rem;
  }

  .arrow-left {
    left: 0rem;
  }
  .arrow-right {
    right: 0rem;
  }
}

@media (max-width: 1325px) {
  .navbar {
    padding: 0 2rem;
  }
  .navbar {
    padding-left: 0rem;
  }
}

@media (max-width: 1368px) {
  .nav-content {
    margin-right: 33cqmin;
  }
}

@media (max-width: 2000px) {
  .nav-content {
    margin-right: 3rem;
  }
  .navbar {
    margin-right: 12rem;
  }
}

@media (max-width: 3000px) {
  .nav-content {
    margin-right: 1rem;
  }
}


@media (min-width: 768px) {
  .timeline {
    padding-left: 2rem;
    margin: 0 2.5rem;
  }

  .timeline-item {
    margin-left: 2rem;
  }

  .timeline-content {
    padding: 1.5rem;
  }

  .timeline-content h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .timeline {
    padding-left: 3rem;
    margin: 0 5rem;
  }

  .timeline-item {
    margin-left: 2.5rem;
  }
  .timeline-content {
    padding: 0.75rem;
    line-height: 1rem;
  }
  .timeline-content h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 438px) {
  .timeline {
    padding-left: 0.5rem;
    margin: 0 0.5rem;
  }

  .timeline-item {
    margin-left: 1rem;
  }

  .timeline-content {
    padding: 0.75rem;
  }

  .timeline-title {
    font-size: 1.75rem;
  }

  .timeline-content h3 {
    font-size: 1.125rem;
  }
}


